@use 'base/var' as v;

.header{
    background-color: v.$verde;

    h1{ //Asi en el css lo compila primero poniendo .header{} y luego .header h1{}
        color: v.$blanco;
    }

}

.navegacion-principal{
    background-color: red;
    @include m.telefono{
        background-color: blue;
    }

    @include m.tablet{
        background-color: cornflowerblue;
    }
    @include m.desktop{
        background-color: darkgreen;
    }
    @include m.desktopXL{
        background-color: wheat;
    }

    
    a{ //scss genera un espacio para que en css quede como .navegacion-principal a{}
        color: v.$blanco;
        font-size: 2.4rem;
    
        //Hacer hover en scss
        &:hover{ //& se usa para eliminar espacio que hace scss
            color: v.$amarillo;
        }
    }
}

